<<<<<<< HEAD
=======
-#  This file is app/views/wall/index.html.haml
>>>>>>> bc61c23dff0813fe3d4f6c4ccb97a25c6abbd39c
%h1 Wall of Founders
%p Search
= @hospitals.each do |hospital|
  %p= hospital.name 
  %p= link_to "More about #{hospital.name}", hospital_path(hospital)